.container {
    width: 100%;
    /* height: 100vh; */
    height: calc(100vh - 200px);
    /* height: calc(100vh - var(--header-height) - var(--nav-height)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 300px; */
    gap: 30px;
    /* margin-top: calc(100vh - 750px); */
    /* margin-top: 70px; */
}

.recommendImgBox {
    margin-top: 50px;
    height: 70px;
}

.searchBox>hr:nth-child(1) {
    border: 1px solid var(--color-primary);
    margin-bottom: 10px;
}

.searchBox>hr:nth-last-child(1) {
    border: 1px solid var(--color-primary);
    margin-top: 10px;
}

.searchBox {
    width: 100%;
    text-align: center;
    /* height: 30px; */
    margin-top: 30px;
}

.itemBox {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px 0; */
    gap: 20px;
}

.itemBox input {
    width: 20%;
    font-size: 23px;
}

.itemBox input::placeholder {
    font-size: 23px;
    text-align: center;
    color: var(--color-gray50);   
}

.itemBox img {
    display: flex;
    /* height: 30px; */
}

.itemBox a {
    display: flex;
    align-items: center;
}

.sliderWrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    /* margin-top: 20px; */
}

.slider {
display: flex;
/* overflow-x: auto; */
scroll-behavior: smooth;
gap: 20px;
/* max-width: 600px; */
padding: 10px;
scrollbar-width: none; /* Firefox */
}

.slider::-webkit-scrollbar {
display: none; /* Chrome, Safari */
}

.slideItem {
/* min-width: 120px;
max-width: 120px; */
background: #f7f7f7;
border-radius: 12px;
padding: 10px;
text-align: center;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
flex-shrink: 0;
}

.arrowBtn {
background: none;
border: none;
cursor: pointer;
padding: 5px;
}

.boxImgBox {
    height: 100px;
    margin: 10px;
}